@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}
body{
  width: 100%;
  height: 100%;
}
.nav-options{
  position: fixed;
  width: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.018);
  backdrop-filter: blur(25px);
}
.nav-options li{
  margin: 20px;
  color: rgb(199,199,199);
  font-size: 12px;
}
.top-box{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D1D1F;
}
.top-box p{
  color: #ffff;
  font-size: 14px;
}
.top-box p:nth-child(2){
  color: rgb(50, 50, 255);
}
.top-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 590px;
  border: 1px solid black;
  background-image:url("hero_iphone15pro__i70z9oz3hj2i_large.jpg");
  background-position: center;
}
.top-product-name{
  color: #ffff;
  font-size: 60px;
  font-weight: 800;
  margin-top: 25px;
}
.top-product-info{
  color: #ffff;
  font-size: 26px;
}
.top-product-links,
.second-product-links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-product-links p,
.second-product-links p{
  color:#268CED;
  margin: 10px;
  font-size: 24px;
}
.second-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 590px;
  border: 1px solid black;
  background-image:url("hero_iphone15_announce__uuemlcwczn6u_large.jpg");
  background-position: center;
}
.second-product-name{
  color: black;
  font-size: 60px;
  font-weight: 800;
  margin-top: 25px;
}
.second-product-info{
  color: black;
  font-size: 26px;
  font-weight: 600;
}